@model Benzy.StudentManagement.WebApp.Models.Instructors

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Instructors</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstructorsName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorsPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstructorsPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorsEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstructorsEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InstructorsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
